{{#each users}}
  <span class="question-card-tag user-list-large-icon">
    <img src="{{{this.gravatar}}}" height="50px" />
    <a href="{{{this.url}}}">{{{this.displayName}}} | UMD</a>
  </span>
{{/each}}
