<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/?newest=true">TerpOverflow</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menu">
        <li><a href="/?newest=true">Newest</a></li>
        <li><a href="/?hottest=true">Hottest</a></li>
        <li><a href="/?unanswered=true">Unanswered</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/tags">Tags</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
          <li><a href="/logout">Logout</a></li>
          <li><a href="/users/{{{user.displayName}}}">{{{user.displayName}}}</a></li>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
